*{
  padding: o;
  margin: 0;
  box-sizing: border-box;
 
}

body{
  background-color: rgb(2, 16, 36);
  /* background-image: url(/my-portfolio/public/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

}